/* body{height: 87%} */




.baby_content{
    /*width: 1200px;*/
    /*margin: 0 auto;*/
}
/*.baby_info_num{*/
/*float: left;*/
/*width: 60px;*/
/*margin-left: 5px;*/
/*}*/
/*.baby_info_num_bg{*/
/*display: inline-block;*/
/*width: 20px;*/
/*height: 18px;*/
/*vertical-align: -4px;*/
/*background-image: url("../img/info_num.png");*/
/*background-repeat: no-repeat;*/
/**display: inline;*/
/**zoom: 1;*/
/*margin-left: 5px;*/
/*}*/
.baby_info_select{
    margin-left: 60px;
}
.select{
    width: 100%;
    height: 30px;
}
.select select{
    width: 100px;
    height: 20px;
}

.baby_conter_li{
 /*    border-right:1px solid #ebb684;  */
}

.baby_conter_li a{
    width: 67%;
    padding-left: 61px;
    line-height: 42px;
    border-bottom: 1px solid #f7d8bb;
    display: inline-block;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    font-family: "微软雅黑";
}
.baby_conter_right{
	padding: 10px 10px 10px 210px ;
}
.baby_conter_right_pos{
    position: absolute;
    top:47px;
    left: 183px;
}
.baby_right_nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #ffdcaa;
    border-bottom: 1px solid #f1b791; 
}
.baby_right_nav p{
    float: left;
    color: #d36200;
    padding-left: 10px;
}
.baby_right_nav li{
    float: left;
    display: inline-block;
    margin-right:5px;
}
.baby_right_nav li img{
    margin-left: 5px;
}
.baby_right_nav_act{
    color: #ec6120;
}
.baby_right_nav_blk{
    color: #5d5349;
}
.baby_content_tab{
	display:table;
	margin:0 auto;
	/*padding:10px;*/ 
	width:100%;
}
.baby_content_tab ul{
    display:table-row-group;
}
.baby_content_tab ul li{
    display:table-cell;
    width: 300px;
    list-style:none;
    text-align:center;
}
/* .baby_content_tab ul li input{
    height:40px;
    line-height:40px;
} */
.baby_content_tab a{
    color: #de7d1f;
}
.baby_content_tab_menu{
    width: 100%;
    height:40px;
    line-height:40px;
    background-color: #ffdcaa;
    border-bottom: 1px solid #ebb684;
}
.baby_content_tab_menu li{
    width: 20px;
    font-size: 14px;
    font-weight: bold;
}


.baby_content_tab_ul1 li{
    font-size: 13px;
    height: 40px;
    line-height:40px;
}
.baby_content_tab_ul1 li img{
    width: 20px;
    height: 20px;
}

.baby_content_tab_ul1 a{
    cursor: pointer;
}
.baby_content_tab_ul1 li img:hover{
    position: absolute;
    width: 300px;
    height: 300px;
}
.baby_content_tab_ul1  .baby_tab_checkbox_li{
	height: 27px;
	line-height:27px;

}
/*.baby_tab_bor{*/
    /*border-right: 1px dashed #c8c8c8;*/
/*}*/
.baby_tab_bor_act{
    color: #e27f21;
}
.baby_tab_bor_blk{
    color: #666;
}
.baby_tab_wit{
    width: 30px;
    height: 32px;
}
.baby_tab_wit img{
    width: 16px;
    height: 16px;
    margin-top: 8px;
}
.baby_content_tab_bg{
    width: 100%;
    height:40px;
    background-color: #fae9d9;
}
.baby_content_dt{
    margin:11px 0 0 8px;
}

.baby_content_dt-1{
    width: 63%;
    float: left;
    padding-left:40px;
    font-size: 13px;
    line-height: 35px;
    color:#595959;
}
.baby_content_dt-2{
    float: right;
    padding-right:20px;
    font-size: 13px;
    line-height: 35px;
    color:#595959;
}
.baby_content_dt-1 img {
    width: 16px;
    height: 16px;
    margin-top: -3px;
    vertical-align: middle;
}
.baby_content_del{
    cursor: pointer;
    background: url(../img/radius.png) no-repeat;
    width: 103px;
    height: 23px;
    line-height:23px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-left: 12px;
    font-size: 13px;
}
.baby_content_dt-2 span{
    color:#e17f1c;
}
.baby_content_dt-2-fy{
    float: left;
	margin-left: -50px;
}
.baby_content_dt-2-fy a{
    color:#e17f1c;
    margin: 0 5px \0;
}
.baby_content_span{
    cursor: pointer;
    margin:0 10px \0;
}

.shade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    display: none;
    z-index: 2;
}

.user-main {
    width: 500px;
    position: fixed;left: 50%; top: 15%;
    background: white;
    margin-left: -250px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.user-main img{
    float: left;
    padding: 5px;
    width: 60px;
    height: 60px;
}
.del{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px!important;
    height: 20px!important;
}
.imglist{
    float: left;
    position: relative;
    width: 70px;
    height: 70px;
}
.file{
    margin-top: 15px;
    width: 60px;
    height: 20px;
    border: 1px solid #1c6a9e;
    border-radius: 1px ;
    background: #00E8D7;
    opacity:0.0;
}
.filediv{
    display:inline;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    /*border: 1px solid #1c6a9e;*/
    /*border-radius: 1px ;*/
    background:url("../img/timg.png") no-repeat center ;
    z-index: 222;
    background-size: 25px;
    /*opacity:0.1;*/
}

.user-main2 {
    width: 100%;
    background: white;
}
.back{
    position: absolute;
    top: 10px;
    left: 10px;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
}

.user-edit .table_1 {
    margin-top: 20px;
    width: 100%;
    border-bottom: none;
}
.user-edit .table_1 tr {
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
}
.user-edit .table_1 th {
    text-align: right;
}

.wid_50{
    width: 50px!important;
   }


.user-edit input[type="text"] {
    /*height: 100%;*/
    border: 1px solid #ddd;
    height: 25px;
    width: 80%;
}

.user-edit td {
    text-align: left;
}

.user-edit td.remark {
    background: #f2f2f2;
    height: 28px;
}

.user-edit td p {
    margin: 0 auto;
    height: 11px;
    line-height: 11px;
}

.user-edit .user-btn {
    /*background: #f2f2f2;*/
    /*border-top: 1px solid #ddd;*/
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.user-title{
    background: #d36200;
    border-top: 1px solid #ddd;
    height: 40px;
    text-align: left;
    border-radius: 10px 10px 0 0;
}
.user-title2{
    position: relative;
    height: 40px;
    background: #d36200;
    border-top: 1px solid #ddd;
    text-align: center;
}
.user-title h3{
    padding-left: 10px;
    line-height: 40px;
}
.user-title2 h3{
    padding-left: 10px;
    line-height: 40px;
}
input.oper {
    background: #d36200;
    height: 28px;
    padding: 0 20px;
    margin: 0 10px 0 0;
    color: #fff;
    border-radius: 6px;;
}

input.oper:hover {
    background: #F4A582;
}
/* @media screen and (min-width: 1366px){
    .baby_conter_right{
        float: left;
        width: 1160px;
    }
    .baby_tab_li11{
        padding: 0 20px;
    }
    .baby_tab_li12{
        padding:0 80px;
    }
    .baby_tab_li13{
        padding: 0 15px;
    }
    .baby_tab_li14{
        padding: 0 60px;
    }
    .baby_tab_li15{
        padding: 0 10px;
    }
    .baby_tab_li16{
        padding: 0 40px;
    }
    .baby_tab_li17{
        padding: 0 40px;
    }
    .baby_tab_li18{
        padding-left:110px;
    }
    列表
    .baby_tab_li1{
        padding: 0 40px;
    }
    .baby_tab_li2{
        padding:0 40px;
    }
    .baby_tab_li3{
        padding: 0 40px;
    }
    .baby_tab_li4{
        padding: 0 40px;
    }
    .baby_tab_li5{
        padding: 0 40px;
    }
    .baby_tab_li6{
        padding: 0 40px;
    }
    .baby_tab_li7{
        padding: 0 40px;
    }
    .baby_tab_li8{
        padding:0 40px;
    }
    .baby_tab_li9{
        padding-left:30px;
    }
} */
@media screen and  (min-width: 1600px){
    .baby_conter_right{
        float: left;
        width: 84%;
    }
}
.ms-controller, .ms-important, [ms-controller], [ms-important] {
    visibility: hidden;
}
.show{
    display: table!important;
}
.block{
    display: block!important;
}
