<!--logo-->
<script>
    var conf = {}
    var user = {}
    avalon.ready(function () {
        var vm = avalon.define({
            $id: "bannerVm",
            curPage: "",
            pops: "",
            user: {},
            user_id: "",
            addUsername: "",
            addOtherName: "",
            addSex: 0,
            addDate: "",
            addRemark: "",
            blo: false,
            weight:1,
            revUrl: "http://www.kh122.com:8081/ChildrenBackstage/backstageServlet/userApi/editUserInfo",
            popData: {},


            router: function () {
                vm.blo = true
//                console.log(vm.blo);
                vm.user = getLocalValue("user");
                vm.addOtherName = vm.user.name;
                vm.addSex = vm.user.sex;
                vm.addDate = new  Date(vm.user.birthday).Format("yyyy-MM-dd");
                vm.addRemark = vm.user.remark;
                console.log(vm.addDate);
                vm.popData = {
                    isLegal: function () {
                        var data = vm.popData.collecData();
                        console.log(data);
                        if (data.user_id == 0 || data.name.trim() == "") {
                            return false;
                        } else {
                            return true;
                        }
                    },
                    collecData: function () {
                        return {
                            user_id: vm.user.user_id,
                            name: vm.addOtherName,
                            sex: vm.addSex,
                            birthday: vm.datefort(vm.addDate),
                            remark: vm.addRemark
                        }
                    }
                }
            },
            loginOut: function () {
                localStorage.removeItem('user');
                window.location.href = "./login.html"
            },
            close: function () {
                vm.blo = false;
            },
            rev: function () {
                var check = vm.popData.isLegal();
                if (check) {
                    $.ajax({url: vm.revUrl, type: "post", data: vm.popData.collecData()}).done(function (data) {
                        var json = eval("(" + data + ")");// 解析json
                        if (json.code == 200) {
                            var users = getLocalValue('user');
                            users.name = vm.addOtherName;
                            users.remark = vm.addRemark;
                            users.sex = vm.addSex;
                            users.birthday = vm.addDate;
                            setLocalValue('user',users);
                        }
                        vm.close();
                        layer.msg("修改成功",1,9)
                    })
                } else {
                    layer.msg("请填写完整");
                }


            },
            datefort:function (str) {
                if (typeof str == 'string') {
                    var date = new Date(Date.parse(str.replace(/-/g, "/")));
                    date =date.getTime();
                    return date;
                }
            },
            init: function () {
                var page = window.location.pathname;
                vm.user = getLocalValue("user");
                vm.addOtherName = vm.user.name;
                vm.addSex = vm.user.sex;
                vm.addDate = vm.user.birthday;
                vm.addRemark = vm.user.remark;
                var userr = getLocalValue('user');
                user = userr;
                var ty = user.role_type;
                if (ty == "8") {
                    vm.weight = 2
                }
                else if (ty == "16" || ty == "32") {
                    vm.weight = 3
                }
                else {
                    vm.weight = 1
                }
                if (page == '/device.html') {
                    vm.curPage = "device"
                }
                if (page == '/admin.html') {
                    vm.curPage = "admin"
                }
                if (page == '/goods.html') {
                    vm.curPage = "goods"
                }
                if (page == '/video.html') {
                    vm.curPage = "video"
                }
                if (page == '/statement.html') {
                    vm.curPage = "statement"
                }
            }
        })
        vm.init();
        avalon.scan()

    })

</script>


<div ms-important="bannerVm" class="baby_top">
    <div class="baby_top_logo">
        <a href="javascript:location.reload()">
            <img src="img/logo.png" title="">
        </a>
        <div class="baby_top_p">
            <!--<p class="baby_top_p_1">伴小宝</p>-->
            <p class="baby_top_p_2">健康伴小宝管理平台</p>
        </div>
    </div>

    <!--导航-->
    <div class="baby_top_nav">
        <a href="/device.html" ms-class="baby_top_list:curPage=='device' " >
            <img src="img/device.png" title="">
            <p>设备管理</p>
        </a>

        <a href="/admin.html" ms-class="baby_top_list:curPage=='admin'">
            <img src="img/num.png" title="">
            <p>用户管理</p>
        </a>

        <a href="/goods.html" ms-class="baby_top_list:curPage=='goods' " ms-if="weight==3">
            <img src="img/health.png" title="">
            <p>商城管理</p>
        </a>

        <a href="/video.html" ms-class="baby_top_list:curPage=='video' " ms-if="weight==3">
            <img src="img/attentop.png" title="">
            <p>讲堂管理</p>
        </a>

        <a href="/statement.html" ms-class="baby_top_list:curPage=='statement' ">
            <img src="img/statement.png" title="">
            <p>报表管理</p>
        </a>
    </div>

    <!--右侧附加信息-->
    <div class="baby_top_rig">
        <div class="baby_top_rig_a">
            <a class="baby_a_border">
                <img src="img/help.png" title="">
                <span>帮助</span>
            </a>
            <a class="baby_a_border">关于</a>
            <a ms-click="loginOut">退出</a>
        </div>

        <div class="baby_top_rig_info">
            <div class="baby_top_info_pad">
                <p class="baby_info_user">{{addOtherName}}</p>
                |
                <strong><a id="example" style="color: #999;cursor:pointer" title="个人设置"
                           ms-click="router">个人设置 </a></strong>
            </div>
        </div>
    </div>
    <!-- 个人设置 -->
    <div class="shade" ms-class="block:blo==true">
        <div class="user-edit">
            <div class="user-main">
                <div class="user-title">
                    <h3>个人信息：</h3>
                </div>
                <table class="table_1" cellpadding="0" cellspacing="0">
                    <tr>
                        <th width="40%">昵称：</th>
                        <td width="60%"><input type="text" name="" ms-duplex="addOtherName"/>
                        </td>
                    </tr>
                    <tr>
                        <th width="40%">性别：</th>
                        <td width="60%"><select name="" ms-duplex="addSex">
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <th width="40%">生日：</th>
                        <td width="60%"><input type="text" ms-duplex="addDate" id="birth" name="birth" readOnly="true"
                                               class="set_text"
                                               onclick="laydate({istime: false,isclear:false, format: 'YYYY-MM-DD'})"/>
                    </tr>
                    <tr>
                        <th width="40%">个性签名：</th>
                        <td width="60%"><input type="text" name="" ms-duplex="addRemark"/>
                        </td>
                    </tr>
                </table>
                <div class="user-btn">
                    <input type="button" value="保存" class="oper" ms-click="rev"/>
                    <input type="button" value="返回" class="oper" ms-click="close"/>
                </div>
            </div>
        </div>
    </div>

</div>









