<style>
    .ms-controller, .ms-important, [ms-controller], [ms-important] {
        visibility: hidden;
    }



</style>

<!--弹窗-->

<div>
    <div class="form">
        <form id="eidtUserUrlFrom">
            <div class="user-edit">
                <div class="user-main">
                    <table class="table_1" cellpadding="0" cellspacing="0">
                        <tr>
                            <th width="40%">设备组名称：</th>
                            <td width="60%"><input type="text" name="" ms-duplex-string=""/>
                            </td>
                        </tr>
                        <tr>
                            <th width="40%">设备组老师：</th>
                            <td width="60%"><input type="text" name="" ms-duplex-string=""/>
                            </td>
                        </tr>
                        <tr>
                            <th width="40%">教师集团：</th>
                            <td width="60%"><input type="text" name="" ms-duplex-string=""/></td>
                        </tr>
                        <tr>
                            <th width="40%">创建时间：</th>
                            <td width="60%"><input type="text" name="" ms-duplex-string=""/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="user-btn">
                    <input type="button" value="保存" class="oper" ms-click="save"/>
                    <input type="button" value="返回" class="oper" ms-click="back"/>
                </div>
            </div>
        </form>
    </div>

</div>
